
.designHome {

  background-image: url("../../img/logo.png");
  width: 100vw;
  height: 100vh;

  background-size: cover;
    // position: absolute;
    

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}