
.headerGlobalDesign {
    height: 5em;
    width: 100%;
    z-index: 7;
    position: absolute;

    

   
}


.headerDesign {
    height: 5em;
    width: 100%;
    z-index: 7;
    position: absolute;
    background-color: black;
    

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.headerSpace {
    width: 33vw;
    height: 5em;
    left: 0;

}

.headerLinksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    margin-bottom: 1em;
}

.link:hover {
    font-weight: bold;
    cursor:pointer;
}


.headerLogoDesign{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.headerLogo{
    height: 5em;
    width: 5.7em;
}

.headerLogo:hover { 
    cursor: pointer; 
}




.headerFilled {
    height: 1em;
}



